.card{
    background-color: rgb(23, 20, 36);
    width: 400px;
    height: 600px;
    border-radius: 15px;
    margin-right: 50px;
}
.card1{
    background-color: rgb(226, 226, 226);
    width: 400px;
    height: 285px;
    border-radius: 15px 15px 0px 30px;
}
.moh{

display: flex;
justify-content: center;


}

section{
    justify-content: center;
}